<table class="table .thead-dark ">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">UserName</th>
        <th scope="col">Department</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>James Webb</td>
        <td>Finance</td>
        <td>james.webb@abccorp.com</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sameer Sinha</td>
        <td>Cororate</td>
        <td>Sameer@abccorp.com</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Sudhir Singh</td>
        <td>Cororate</td>
        <td>Sudhir@abccorp.com</td>
      </tr>
    </tbody>
  </table>